{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock title %}
{% block body %}
    <h2>Kontakt</h2>
    <p>Kontaktujte nás odesláním formuláře níže.</p>
    {{ form(form) }}
{% endblock body %}